@page
@using Microsoft.Extensions.Localization
@using JS.Abp.DynamicMenu.Localization
@using JS.Abp.DynamicMenu.Web.Pages.DynamicMenu
@model JS.Abp.DynamicMenu.Web.Pages.DynamicMenu.IndexModel
@inject IStringLocalizer<DynamicMenuResource> L

@{
}
<h1>DynamicMenu</h1>
<p>@L["SamplePageMessage"]</p>
